<div id="section-top" class="nashville-section-top"></div>


<div id="main" class="main-section">
	<!-- ============ Page Header ============ -->
	<div class="page-title-section page-title-skin-light text-center">

		<div class="page-title-wrapper clearfix">
			<div class="container">
				<div class="page-title-container">
					<div class="page-title-header">
						<h1 class="entry-title">校园相册</h1>
					</div>

					<div class="page-breadcrumbs-wrapper clearfix">
						<div class="page-breadcrumbs">
							<h6 class="tpath-breadcrumbs"><span><a itemprop="url" href="/" ><span itemprop="title">首页</span></a>
								</span><span class="tpath-breadcrumb-sep">/</span><span class="breadcrumb-leaf">校园相册</span></h6>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>


	<div id="main-wrapper" class="fullwidth-page-wrapper">
		<div class="vc_row wpb_row vc_row-fluid tpath-vc-section bg-style tpath-standard bg-shapecolor-tpath-standard">
			<div class="tpath-row-inner-wrapper">
				<div class="container">
					<div class="row">
						<div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
							<div class="tpath-column-inner-wrapper vc_column-inner bg-style column-bg-default ">
								<div class="wpb_wrapper">
									<div class="tpath-vc-custom-css" data-css="#tpath_portfolio_1 .portfolio-mask .overlay-buttons > li > a:hover { color: ; }"></div>
									<div id="tpath-portfolio-wrapper-1" class="tpath-portfolio-grid-wrapper tpath-isotope-system style-grid">
										<div class="tpath-isotope-wrapper">
											<div id="tpath_portfolio_1" class="tpath-portfolio tpath-isotope-layout grid-style portfolio-cols-4" data-columns="4" data-gutter="20" data-type="masonry" data-layout="fitRows">
												if galleries.length
													each gallery in galleries
														if gallery.heroImage.exists
															<div id="portfolio-199" class="portfolio-item isotope-post post-iso-w3 post-iso-h3 grid-cat-3 grid-cat-9 ">
																<div class="post-inside-wrapper margin-top-20">
																	<div class="portfolio-content">
																		<div class="portfolio-image-overlay-wrapper">
																			<div class="portfolio-image">
																				img.img-responsive(src=gallery._.heroImage.limit(1280,960), width="370", height="340")
																			</div>
																		</div>
																		<div class="portfolio-mask overlay-mask style-fullwidth text-center">
																			<div class="overlay-content">
																				<ul class="overlay-buttons">
																					<li>
																						a.pf-icon-zoom(href=gallery._.heroImage.limit(1280,960), data-rel="prettyPhoto[gallery1]")
																							<i class="fa fa-search"></i>
																					</li>
																					//- <li><a href="../portfolio/happy-paintings/index.html" class="pf-icon-link" title="Happy Paintings"><i class="fa fa-link"></i></a></li>
																				</ul>
																				<div class="portfolio-title">
																					//- <h4><a title="Happy Paintings" href="../portfolio/happy-paintings/index.html">Happy Paintings</a></h4>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															each image in gallery.images
																<div id="portfolio-199" class="portfolio-item isotope-post post-iso-w3 post-iso-h3 grid-cat-3 grid-cat-9 ">
																	<div class="post-inside-wrapper margin-top-20">
																		<div class="portfolio-content">
																			<div class="portfolio-image-overlay-wrapper">
																				<div class="portfolio-image">
																					img.img-responsive(src=image.limit(1280,960), width="370", height="340")
																				</div>
																			</div>
																			<div class="portfolio-mask overlay-mask style-fullwidth text-center">
																				<div class="overlay-content">
																					<ul class="overlay-buttons">
																						<li>
																							a.pf-icon-zoom(href=image.limit(1280,960), data-rel="prettyPhoto[gallery1]")
																								<i class="fa fa-search"></i>
																						</li>
																						//- <li><a href="../portfolio/happy-paintings/index.html" class="pf-icon-link" title="Happy Paintings"><i class="fa fa-link"></i></a></li>
																					</ul>
																					<div class="portfolio-title">
																						//- <h4><a title="Happy Paintings" href="../portfolio/happy-paintings/index.html">Happy Paintings</a></h4>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
														else
															each image in gallery.images
																<div id="portfolio-199" class="portfolio-item isotope-post post-iso-w3 post-iso-h3 grid-cat-3 grid-cat-9 ">
																	<div class="post-inside-wrapper margin-top-20">
																		<div class="portfolio-content">
																			<div class="portfolio-image-overlay-wrapper">
																				<div class="portfolio-image">
																					img.img-responsive(src=image.limit(1280,960), width="370", height="340")
																				</div>
																			</div>
																			<div class="portfolio-mask overlay-mask style-fullwidth text-center">
																				<div class="overlay-content">
																					<ul class="overlay-buttons">
																						<li>
																							a.pf-icon-zoom(href=image.limit(1280,960), data-rel="prettyPhoto[gallery1]")
																								<i class="fa fa-search"></i>
																						</li>
																						//- <li><a href="../portfolio/happy-paintings/index.html" class="pf-icon-link" title="Happy Paintings"><i class="fa fa-link"></i></a></li>
																					</ul>
																					<div class="portfolio-title">
																						//- <h4><a title="Happy Paintings" href="../portfolio/happy-paintings/index.html">Happy Paintings</a></h4>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>
<!-- #main -->
