<div id="section-top" class="nashville-section-top"></div>
<div id="main" class="main-section">
	<!-- ============ Page Header ============ -->
	<div class="page-title-section page-title-skin-light text-center">

		<div class="page-title-wrapper clearfix">
			<div class="container">
				<div class="page-title-container">
					<div class="page-title-header">
						<h1 class="entry-title">校园动态</h1>
					</div>

					<div class="page-breadcrumbs-wrapper clearfix">
						<div class="page-breadcrumbs">
							<h6 class="tpath-breadcrumbs"><span><a itemprop="url" href="/" ><span itemprop="title">首页</span></a>
								</span><span class="tpath-breadcrumb-sep">/</span><span class="breadcrumb-leaf">校园动态</span></h6>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>


	<div id="main-wrapper" class="fullwidth-page-wrapper">
		<div class="vc_row wpb_row vc_row-fluid tpath-vc-section bg-style tpath-standard bg-shapecolor-tpath-standard">
			<div class="tpath-row-inner-wrapper">
				<div class="container">
					<div class="row">
						<div class="wpb_column vc_main_column vc_column_container vc_col-sm-12 typo-default">
							<div class="tpath-column-inner-wrapper vc_column-inner bg-style column-bg-default ">
								<div class="wpb_wrapper">
									<div id="tpath_events_1" class="tpath-events-list-wrapper events-shortcode style-list columns-1">
										<div class="ecs-event-list">

											each post in data.posts.results
												<div class="ecs-event event-item-1">
													<div class="ecs-event-inner clearfix">
														<div class="event-image">
															a(href='/news/post/' + post.slug)
																img.attachment-nashville-blog-large.size-nashville-blog-large.wp-post-image(src=post._.image.fit(160,160), width='1100', height='500')
														</div>

													<div class="event-grid-bottom-wrapper clearfix">
														<div class="event-grid-bottom-inner">
															<div class="event-grid-date-left">
																<h6>
																	<span class="event-date">#{post.publishedDate.getDate()}</span>
																	<span class="event-month">#{post.publishedDate.getMonth()}</span>
																</h6>
															</div>

															<div class="event-grid-info-right">
																<div class="event-details-wrap">
																	if post.publishedDate
																		<p class="duration time"><i class="fa fa-clock-o"></i> #{post.publishedDate.getFullYear() + '年' +  (post.publishedDate.getMonth()+1) + '月' + post.publishedDate.getDate() + '日'} </p>
																		//- <p class="duration venue"><i class="fa fa-map-marker"></i> Kinder Gardens</p>
																</div>

																h5.event-title.summary
																	a(href='/news/post/' + post.slug)= post.title

																<div class="event-excerpt">
																	p!= post.content.brief
																</div>
																
																<div class="event-btn">
																	a.btn.btn-simple-text.eventbtn(href='/news/post/' + post.slug)
																		| 查看更多...
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>

											//- </div><span class="ecs-all-events"><a href="../events/index.html" class="btn btn-default" rel="bookmark">View All Events</a></span></div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


</div>
<!-- #main -->
